<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{presentation/fragments/fragment-head :: head}"></div>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <div th:replace="~{presentation/fragments/fragment-navigation :: navigation}"></div>

    <!-- Header-->
    <header class="py-5">
        <div class="container px-5 pb-5">
            <div class="row gx-5 align-items-center">
                <div class="col-xxl-5">
                    <!-- Header text content-->
                    <div class="text-center text-xxl-start">
                        <div class="badge bg-gradient-primary-to-secondary text-white mb-4">
                            <div class="text-uppercase">Kotlin &middot; Spring &middot; JPA</div>
                        </div>
                        <div class="fs-3 fw-light text-muted">안녕하세요</div>
                        <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">개발하는 고양이 <br> 신성수입니다.</span>
                        </h1>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                            <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="resume">Resume</a>
                            <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="projects">Projects</a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-7">
                    <!-- Header profile picture-->
                    <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                        <div class="profile bg-gradient-primary-to-secondary">
                            <!-- TIP: For best results, use a photo with a transparent background like the demo example below-->
                            <!-- Watch a tutorial on how to do this on YouTube (link)-->
                            <img class="profile-img" src="assets/profile.png" alt="..."/>
                            <div th:replace="~{presentation/fragments/fragment-dots :: dots1}"></div>
                            <div th:replace="~{presentation/fragments/fragment-dots :: dots2}"></div>
                            <div th:replace="~{presentation/fragments/fragment-dots :: dots3}"></div>
                            <div th:replace="~{presentation/fragments/fragment-dots :: dots4}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About Section-->
    <section class="bg-light py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xxl-8">
                    <div class="text-center my-5">
                        <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">저는</span></h2>
                        <p class="mb-4"></p>
                        <p class="text-muted" th:each="introduction: ${introductions}"
                           th:text="${introduction.content}">Lorem ipsum dolor sit amet</p>
                        <div class="d-flex justify-content-center fs-2 gap-4">
                            <a class="text-gradient" href="#!" th:each="link : ${links}" th:href="${link.content}">
                                <i class="bi bi-twitter" th:class="|bi bi-${link.name}|"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer-->
<div th:replace="~{presentation/fragments/fragment-footer :: footer}"></div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
