:root {
  --today-house: #35c5f0;
  --detail-title: #2f3438;
  --item-title: #424242;
  --badge-title: #757575;
  --detail-category: #656e75;
  --write-title: #828c94;
  --item-status: #9e9e9e;
  --post-border: #dbdbdb;
  --item-badge: #ededed;
  --border-color: #eaedef;
  --white: #ffffff;
}
