$booking-color-border1: #e2e5e8;
$booking-color-border2: #ecf0f2;
$booking-color-border3: #eaeef2;
$booking-color-border4: #f2f4f6;
$booking-color-border6: rgba(0, 0, 0, 0.02);
$booking-color-border7: #e2e5e8;
$booking-color-border9: rgba(0, 0, 1, 0.04);
$booking-color-border10: #e3e6e8;
$booking-color-border11: #1cb941;
$booking-color-border12: #e1e1e1;
$booking-color-border13: #dee0e2;
$booking-color-border14: #93c7fa;
$booking-color-border15: #d9dadb;
$booking-color-border16: #cbdeed;
$booking-color-border17: #eff1f2;
$booking-color-border18: #eaebec;
$booking-color-border19: #dee0e2;
$booking-color-border20: #eaebec;
$booking-color-border21: #d9dadb;
$booking-color-border22: #9ca5ae;
$booking-color-border100: #ececec;
$booking-color-border101: #e5e5e5;
$booking-color-border102: #eee;
$booking-color-border103: #f2f2f2;
$booking-color-border104: #e1e5e7;
$booking-color-border105: #f6f6f6;
$booking-color-border106: #242424;
$booking-color-border107: rgba(0, 0, 1, 0.08);
$booking-color-border108: #333;
$booking-color-border109: #e3e3e3;
$booking-color-border110: #e7e7e7;
$booking-color-border111: #e8e8e8;
$booking-color-border112: #d5dadd;
$booking-color-border113: #efefef;
$booking-color-border114: #fff;
$booking-color-border115: #e9e9e9;
$booking-color-border116: #d0d0d0;
$booking-color-border117: #242424;
$booking-color-border118: #fff;
$booking-color-border119: #d0d0d0;
$booking-color-border120: rgba(3, 199, 90, 0.4);
$booking-color-border121: #dbdbdb;
$booking-color-border122: #ededed;
$booking-color-border123: #e5e5e5;
$booking-color-border124: #d1e6da;
$booking-color-border125: #f0f0f0;
$booking-color-border126: #818f87;
$booking-color-border127: #dddedf;
$booking-color-border128: #f9f9f9;
$booking-color-border129: #c7c7c7;
$booking-color-border130: #bbb;
$booking-color-border131: #edf2ef;
$booking-color-border132: #f5f5f5;
$booking-color-border133: rgba(255, 53, 42, 0.9);
$booking-color-border134: #ddd;
$booking-color-border136: #edeef0;
$booking-color-border137: #dcdcdc;
$booking-color-border138: #e9ecef;
$booking-color-border139: #000;
$booking-color-border140: rgba(0, 0, 16, 0.04);
$booking-color-border141: #ebedef;
$booking-color-border142: #a196ff;
$booking-color-border143: #424242;
$booking-color-border144: #f2f2f2;
$booking-color-border145: #333;
$booking-color-border146: #f6f6f6;
$booking-color-border147: #e5e5e5;
$booking-color-border148: rgba(255, 255, 255, 0.1);
$booking-color-border149: #f9f9f9;
$booking-color-border150: #e5e5e5;
$booking-color-border151: #f4f7f9;
$booking-color-border152: #ebebeb;
$booking-color-border153: #f2f2f2;
$booking-color-border154: #f4f7f9;
$booking-color-border155: #666;
$booking-color-border156: #e6e8ec;
$booking-color-border157: #ecf0f2;
$booking-color-border158: #e7e7e7;
$booking-color-border159: #f1f1f1;
$booking-color-border160: #f2f2f2;
$booking-color-border161: #e8e8e8;
$booking-color-border162: #e9ecef;
$booking-color-border163: #424242;
$booking-color-border164: #fff;
$booking-color-border165: #dbdfe3;
$booking-color-bg1: #e9ecef;
$booking-color-bg2: #fff;
$booking-color-bg3: #f8fafb;
$booking-color-bg4: #f4f7f8;
$booking-color-bg5: #fafbfc;
$booking-color-bg6: #dfe2e7;
$booking-color-bg7: #00c73c;
$booking-color-bg8: #f8fafb;
$booking-color-bg9: rgba(0, 0, 0, 0.1);
$booking-color-bg10: #f3f9fe;
$booking-color-bg11: #f5f7f8;
$booking-color-bg12: #9fa4aa;
$booking-color-bg13: #c2c9cd;
$booking-color-bg14: #c9c9ca;
$booking-color-bg15: #9e9e9e;
$booking-color-bg16: #e9eff2;
$booking-color-bg17: #a5adb5;
$booking-color-bg18: #fff;
$booking-color-bg19: #ffff95;
$booking-color-bg20: #fcfcfc;
$booking-color-bg21: #fff;
$booking-color-bg22: #fcfdfd;
$booking-color-bg23: #f8fafb;
$booking-color-bg24: #f4f7f8;
$booking-color-bg100: #f6fbfd;
$booking-color-bg101: #575756;
$booking-color-bg102: #f2f2f2;
$booking-color-bg103: #eee;
$booking-color-bg104: #424242;
$booking-color-bg105: #e1e5e7;
$booking-color-bg106: #f2f4f6;
$booking-color-bg107: #242424;
$booking-color-bg108: #f6f6f6;
$booking-color-bg109: #dadee3;
$booking-color-bg110: #f4f7f9;
$booking-color-bg111: #fafcfd;
$booking-color-bg112: #fff4f4;
$booking-color-bg113: #d5dadd;
$booking-color-bg114: #f9f9f9;
$booking-color-bg115: #f9f9f9;
$booking-color-bg116: #000;
$booking-color-bg117: #fff;
$booking-color-bg118: #03c75a;
$booking-color-bg119: rgba(3, 199, 90, 0.15);
$booking-color-bg120: #4c4c4c;
$booking-color-bg121: #fafbfb;
$booking-color-bg122: #d5dadd;
$booking-color-bg123: #04c75b;
$booking-color-bg124: #fff;
$booking-color-bg125: #f3f4f5;
$booking-color-bg126: #f4f3f3;
$booking-color-bg127: #fff;
$booking-color-bg128: #424242;
$booking-color-bg129: #fff;
$booking-color-bg130: #f6f6f6;
$booking-color-bg131: #e9ebee;
$booking-color-bg132: #fff;
$booking-color-bg133: #d4dadf;
$booking-color-bg134: #fafffc;
$booking-color-bg135: #edf2ef;
$booking-color-bg136: #d1d1d1;
$booking-color-bg137: rgba(0, 0, 0, 0.9);
$booking-color-bg138: rgba(255, 53, 42, 0.9);
$booking-color-bg139: #efefef;
$booking-color-bg140: #efefef;
$booking-color-bg141: #d7d8d9;
$booking-color-bg142: #f9fafb;
$booking-color-bg143: #f9fafc;
$booking-color-bg144: #fff;
$booking-color-bg145: #f9fafc;
$booking-color-bg146: #d8d8d8;
$booking-color-bg147: #c9c9c9;
$booking-color-bg148: #ccc;
$booking-color-bg149: #f2f3f4;
$booking-color-bg150: #f9f9f9;
$booking-color-bg151: #242424;
$booking-color-bg152: #333;
$booking-color-bg153: #e2e5e8;
$booking-color-bg154: #f5f4fe;
$booking-color-bg155: #e7f7ff;
$booking-color-bg156: #d9faff;
$booking-color-bg157: #fff;
$booking-color-bg158: rgba(0, 0, 0, 0.06);
$booking-color-bg159: rgba(0, 0, 0, 0.05);
$booking-color-bg160: #f7f9fc;
$booking-color-bg161: #f7f9fc;
$booking-color-bg162: #575756;
$booking-color-bg163: #f8fafb;
$booking-color-bg164: #e5e5e5;
$booking-color-bg165: #424242;
$booking-color-bg166: #fff;
$booking-color-bg167: #f2f2f2;
$booking-color-bg168: #ededed;
$booking-color-bg169: #fafdff;
$booking-color-bg170: rgba(51, 51, 51, 0.07);
$booking-color-bg171: #424242;
$booking-color-bg172: #d9dadb;
$booking-color-bg173: #b8b8b8;
$booking-color-bg174: #333;
$booking-color-bg175: #fff;
$booking-color-bg176: #fff;
$booking-color-bg177: rgba(0, 0, 0, 0.02);
$booking-color-bg178: #fff;
$booking-color-bg179: #fff;
$booking-color-bg180: #fff;
$booking-color-bg181: #f4f7f9;
$booking-color-bg182: #f4f6f8;
$booking-color-bg183: #00d780;
$booking-color-bg184: #fff;
$booking-color-bg185: #c9c9c9;
$booking-color-bg186: #f4f6f8;
$booking-color-bg187: #eff3f6;
$booking-color-bg188: #b0ffd0;
$booking-color-bg189: #424242;
$booking-color-bg190: rgba(255, 255, 255, 0.8);
$booking-color-bg191: #fafbfb;
$booking-color-bg192: #4c4c4c;
$booking-color-bg193: #000;
$booking-color-bg194: #d0d0d0;
$booking-color-bg195: #f8fafb;
$booking-color-bg196: #fafffc;
$booking-color-bg197: rgba(255, 255, 255, 0);
$booking-color-bg198: rgba(255, 255, 255, 0);
$booking-color-bg199: #f3f6f8;
$booking-color-bg200: #fff;
$booking-color-bg201: #f7fbfd;
$booking-color-bg202: #d3fbf5;
$booking-color-bg203: #e2e2e2;
$booking-color-bg204: #ededed;
$booking-color-bg205: #f9f9f9;
$booking-color-bg206: #f6fbfd;
$booking-color-bg207: #dbdfe3;
$booking-color-bg208: #f6f6f6;
$booking-color-text1: #000;
$booking-color-text2: #242424;
$booking-color-text3: #424242;
$booking-color-text4: #666;
$booking-color-text5: #8f8f8f;
$booking-color-text6: #333;
$booking-color-text8: #00cf5b;
$booking-color-text9: #0abe16;
$booking-color-text10: #ff5757;
$booking-color-text11: #6380b6;
$booking-color-text12: #9a9a9a;
$booking-color-text15: #909090;
$booking-color-text16: #b8b8b8;
$booking-color-text17: #353e5f;
$booking-color-text100: #333;
$booking-color-text101: #fff;
$booking-color-text102: #eee;
$booking-color-text103: #898e98;
$booking-color-text104: #242424;
$booking-color-text105: #03c75a;
$booking-color-text106: #333;
$booking-color-text107: #e4e4e4;
$booking-color-text108: #222;
$booking-color-text109: #fff;
$booking-color-text110: #242424;
$booking-color-text111: #e3e3e3;
$booking-color-text112: #c9c9c9;
$booking-color-text113: #fff;
$booking-color-text114: #c9c9c9;
$booking-color-text115: #666;
$booking-color-text116: #8f8f8f;
$booking-color-text117: #555;
$booking-color-text118: #6f7a83;
$booking-color-text119: #fff;
$booking-color-text120: #333;
$booking-color-text121: #8f8f8f;
$booking-color-text122: #54595d;
$booking-color-text123: #54595d;
$booking-color-text124: #0068c3;
$booking-color-text125: #666;
$booking-color-text126: #333;
$booking-color-text127: #e5e5e5;
$booking-color-text128: #000;
$booking-color-text129: #fff;
$booking-color-text130: #333;
$booking-color-text131: #fff;
$booking-color-text132: #30b4b3;
$booking-color-text133: #3787ff;
$booking-color-link: #0068c3;
$booking-color-link-visited: #99209b;
$booking-color-bg2-rgb: rgba(255, 255, 255, 0);

// custom color
$point-color: #ff3d3b;
$green: #01d760;