<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="card shadow border-0 rounded-4 mb-5" th:fragment="card(experience)">
    <div class="card-body p-5">
        <div class="row align-items-center gx-5">
            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                    <div class="text-primary fw-bolder mb-2"
                         th:text="|${experience.startYearMonth} - ${experience.endYearMonth}|">2019 - Present
                    </div>
                    <div class="small text-muted" th:text="${experience.description}">Stark Industries</div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="lead fw-bolder" th:text="${experience.title}">Web Developer</div>
                <div class="small" th:each="detail : ${experience.details}" th:text="|* ${detail}|">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>