@charset "utf-8";

.blind {
  text-indent: -9999px;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
}

.legends {
  position: absolute;
  left: 10vw;
}

.legends span {
  display: block;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  color: #fff;
}
